* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background: #000;
}

h2 {
    font-size: 6em;
    color: #000;
    font-weight: 500;
}

h2 span {
    animation: animate 2s linear infinite;
}

h2 span:nth-child(1) {
    animation-delay: 0.2s;
}

h2 span:nth-child(2) {
    animation-delay: 0.4s;
}

h2 span:nth-child(3) {
    animation-delay: 0.6s;
}

h2 span:nth-child(4) {
    animation-delay: 0.8s;
}

h2 span:nth-child(5) {
    animation-delay: 1.0s;
}

h2 span:nth-child(6) {
    animation-delay: 1.2s;
}

h2 span:nth-child(7) {
    animation-delay: 1.4s;
}

h2 span:nth-child(8) {
    animation-delay: 1.6s;
}

h2 span:nth-child(9) {
    animation-delay: 1.8s;
}

h2 span:nth-child(10) {
    animation-delay: 2.0s;
}

@keyframes animate {
    0%,
    80% {
        color: #000;
        text-shadow: none;
    }
    100% {
        color: #FEFCD7;
        text-shadow: 0 0 10px #FEFCD7, 0 0 20px #FEFCD7, 0 0 40px #FEFCD7, 0 0 80px #FEFCD7, 0 0 120px #FEFCD7, 0 0 160px #FEFCD7, 0 0 200px #FEFCD7,
    }
}